@import url("./imports/index.scss");

body {
    display: grid;
    place-content: center;
    height: 100vh;
}

.card {
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;

    border-radius: 1rem;
    border-bottom-right-radius: 5rem;

    background: white;
}
